<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Core" version="1.51.1" targetFramework="net472" />
  <package id="Azure.Monitor.OpenTelemetry.Exporter" version="1.6.0" targetFramework="net472" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="ExtentReports" version="5.0.4" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights" version="3.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Html.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Razor" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Razor.Language" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Razor.Runtime" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.9.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.9.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Testing.Platform" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="18.0.1" targetFramework="net472" />
  <package id="MSTest.Analyzers" version="4.1.0" targetFramework="net472" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="4.1.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="4.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="OpenTelemetry" version="1.15.0" targetFramework="net472" />
  <package id="OpenTelemetry.Api" version="1.15.0" targetFramework="net472" />
  <package id="OpenTelemetry.Api.ProviderBuilderExtensions" version="1.15.0" targetFramework="net472" />
  <package id="OpenTelemetry.Extensions.Hosting" version="1.15.0" targetFramework="net472" />
  <package id="OpenTelemetry.PersistentStorage.Abstractions" version="1.0.2" targetFramework="net472" />
  <package id="OpenTelemetry.PersistentStorage.FileSystem" version="1.0.2" targetFramework="net472" />
  <package id="RazorEngine.NetCore.nixFix" version="1.0.1" targetFramework="net472" />
  <package id="Selenium.Support" version="4.40.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.40.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="144.0.7559.13300" targetFramework="net472" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.ClientModel" version="1.9.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="10.0.2" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.2" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="10.0.2" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Memory.Data" version="10.0.2" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Reactive" version="6.0.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="10.0.2" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="10.0.2" targetFramework="net472" />
  <package id="System.Text.Json" version="10.0.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net472" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net472" />
  <package id="xunit.extensibility.core" version="2.9.3" targetFramework="net472" />
  <package id="xunit.extensibility.execution" version="2.9.3" targetFramework="net472" />
</packages>